<template>
    <div>
        <div class="container-fluiid p-4 mt-4">
            <div class="row justify-content-center"><p class="h1" v-if="Menu">{{Menu.name}}</p></div>
            <div class="row justify-content-center"><p class="h3">{{Menu.start_hour}} - {{Menu.end_hour}}</p></div>
            <div class="row justify-content-end mb-2">
                <router-link :to="{name:'OrderClient'}" class="btn btn-primary align-self-end mr-4" >Ordenar</router-link>
            </div>
            <div id="accordion">
                <div class="card" v-for="(food,index) in foods" :key="index">
                    <nav class="card-header border-0" id="headingOne" data-toggle="collapse" :data-target="'#collapse'+index" aria-expanded="true" :aria-controls="'collapse'+index">
                        <span>{{food.name}} ({{food.weight}}g)</span>
                        <span class="float-right">{{food.price}}$</span>
                    </nav>

                    <div :id="'collapse'+index" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {{food.content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:'MenuDisplay',
    data(){
        return{
            menuid:null,
            Menu:{},
            foods:[]
        }
    },
    methods:{
        getIdMenu: async function(){
            await this.$Axios.get('/wapi/restaurants/'+this.$route.params.resId+'/activeMenu')
            .then(response=>{
                this.menuid = response.data.menuid;
                this.getMenu();
            });
        },
        getMenu: async function(){
            await this.$Axios.get('/wapi/menus/' + this.menuid + '/display')
            .then(response => {
                this.Menu = response.data.data.menu;
                this.foods = response.data.data.foods;
            });
        },
    },
    mounted(){
        this.getIdMenu();
    }
}
</script>

<style scoped>

</style>