<template>
    <div class="container-fluid">
        <div class="row justify-content-center mt-4 mb-2">
            <div class="col">
                <p class="h2">New Menu</p>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col">
                    <div class="form-group">
                        <label for="MenuNameInput">Menu Name</label>
                        <input v-model="menu.name" type="text" class="form-control" id="MenuNameInput" placeholder="Enter Menu Name">
                    </div>
                    <div class="form-group">
                        <label for="MenuStartHrInput">Menu Start Hour</label>
                        <input v-model="menu.start_hour" type="time" class="form-control" id="MenuStartHrInput" placeholder="Enter Menu Start Hour">
                    </div>
                    <div class="form-group">
                        <label for="MenuEndHrInput">Menu End Hour</label>
                        <input v-model="menu.end_hour" type="time" class="form-control" id="MenuEndHrInput" placeholder="Enter Menu End Hour">
                    </div>
                    <button class="btn btn-danger" v-on:click="Cancel">Cancel</button>
                    <button class="btn btn-primary" v-on:click="postmenus">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name:'MenusCreate',
        mounted() {
            console.log('Component mounted.')
        },
        data(){
            return{
                menu:{
                    name:null,
                    start_hour:null,
                    end_hour:null,
                    restaurant_id: this.$route.params.resId
                }
            }
        },
        methods:{
            postmenus: function(){
                this.$Axios.post('/wapi/menus',this.menu)
                .then(response => {console.log("response");});
            },
            Cancel: function(){
                window.history.back();
            }
        }
    }
</script>
