<template>
    <div>
        <div class="row justify-content-center mt-4 mb-2">
                <div class="col">
                    <p class="h2">Menus</p>
                </div>
            </div>
            <div class="row col justify-content-start">
                <div class="card-deck">
                            <CardComponent 
                                :id="index" 
                                :nameprop="Menu.name" 
                                :showprop="{ name: 'MenusShow', params: { menuId: Menu.id }}"
                                :editprop="{ name: 'MenusEdit', params: { menuId: Menu.id }}"
                                :displayprop="{ name: 'MenuDisplay', params: { menuId: Menu.id }}"
                                titles="menu"
                                v-for="(Menu,index) in Menus" :key="index">
                            </CardComponent>
                    <div>
                        <div class="card border border-dark" style="width: 18rem; height:18rem;">
                            <div class="card-body aling-component-center">
                                <router-link :to="{ name: 'MenusCreate',params: { resId }}">
                                    <p class="text-center" style="margin-top:50%;">Añadir</p>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
import CardComponent from '../../components/CardComponent.vue'

export default {
    name:'MenusIndex',
    data(){
        return{
            Menus:[],
            resId: this.$route.params.resId
        }
    },
    methods:{
        getMenus: function(){
            this.$Axios.get('/wapi/restaurants/'+ this.$route.params.resId +'/menus')
            .then(response => {this.Menus = response.data.data});
        },
        str: function(id){
            return "./" + String(id) + "/";
        }
    },
    created(){
        this.getMenus();
    },
    components:{
        CardComponent
    }
}
</script>