<template>
    <div class="container-fluid">
        <!-- Modal -->
        <div class="modal fade" id="ModalFoods" tabindex="-1" role="dialog" aria-labelledby="FoodsModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="SelectFood">Choose a Food:</label>
                    <select 
                        id="SelectFood" 
                        name="SelectFood"
                        v-model="select" >

                        <option v-for="(Food,index) in Foods" :key="index" :value="Food"> {{Food.name}} | {{Food.weight}} | {{Food.price}}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="pushFood">Save changes</button>
                </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4 mb-2">
                <div class="col">
                    <p class="h2">Foods</p>
                </div>
        </div>
        <div class="row mt-4 mb-2">
            <div class="col-auto"> <p class="h3">{{this.Menu.name}}</p></div>
            <div class="col">{{this.Menu.start_hour}} | {{this.Menu.end_hour}}</div>
            <div class="justify-content-end">
                <button type="button" class="btn btn-light border border-dark" data-toggle="modal" data-target="#ModalFoods">Agregar</button>
            </div>
        </div>
        <div class="row justify-content-center mt-4 mb-2">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" v-for="(element,index) in getKeys(Foods)" :key="index">{{element}}</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody >
                    <tr v-for="(element,index) in Foods_Menu" :key="index">
                        <td  v-for="(value, key) in element" :key="key" v-if="key != 'pivot'">
                            {{value}}
                        </td>
                        <td>
                            <button class="btn btn-danger" v-on:click="quitFood(element)">quit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-end mt-4 mb-2">
            <button class="btn btn-primary" v-on:click="attachFood" >Aceptar cambios</button>
        </div>
    </div>
</template>

<script>
import TableComponent from '../../components/TableComponent.vue';

export default {
    name:'MenuShow',
    data(){
        return {
            Menu:{
                id:0,
                name:"",
                start_hour:"",
                end_hour:""
            },
            Foods:[],
            Foods_Menu:[],
            select:{}
        }
    },
    methods:{
        getFoods: async function(){
            await this.$Axios.get('/wapi/restaurants/'+ this.$route.params.resId +'/foods')
                .then(response => {this.Foods = response.data.data});
        },
        getMenu: async function(){
            await this.$Axios.get('/wapi/menus/'+ this.$route.params.menuId +'/edit')
                .then(response => {this.Menu = response.data.data});
        },
        getFoods_Menu: async function(){
            await this.$Axios.get('/wapi/menus/'+ this.$route.params.menuId +'/foods')
                .then(response => {this.Foods_Menu = response.data.data});
        },
        pushFood: function(){
            for (let index = 0; index < this.Foods_Menu.length; index++) {
                if(this.Foods_Menu[index]['id'] == this.select['id']){
                    return;
                }
                
            }
            this.Foods_Menu.push(this.select);
        },
        quitFood: function(element){
            this.Foods_Menu = this.Foods_Menu.filter(function(value, index, arr){ return value != element;});
        },
        attachFood:function(){
            var arr = [];
            this.Foods_Menu.forEach(element => {
                arr.push(element.id);
            });
            this.$Axios.post('/wapi/menus/' + this.$route.params.menuId + '/attach',
                {
                    menu_id:this.Menu.id,
                    foods:arr
                }, { timeout: 2000 })
                .then(response => {console.log('response');});
        },
        getKeys:function(Foods){
            if(Foods.length > 0){
                return Object.keys(Foods[0]);
            }
        }
    },
    mounted(){
        this.getFoods();
        this.getMenu();
        this.getFoods_Menu();
    },
    components:{
        TableComponent
    }
}
</script>