<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" v-on:click="makeQR">
                        Make QR
                    </button>
                </div>
                <div class="float-right">
                    <canvas id="qr-code" :style="'width:'+canvasWidth+'px;'"></canvas>
                </div>
            </div>
        </div>
        <div class="container-fluiid border border-dark p-4 mt-4">
            <div class="row justify-content-center"><p class="h1" v-if="Menu">{{Menu.name}}</p></div>
            <div class="row justify-content-center"><p class="h3">{{Menu.start_hour}} - {{Menu.end_hour}}</p></div>

            <div id="accordion">
                <div class="card" v-for="(food,index) in foods" :key="index">
                    <nav class="card-header border-0" id="headingOne" data-toggle="collapse" :data-target="'#collapse'+index" aria-expanded="true" :aria-controls="'collapse'+index">
                        <span>{{food.name}} ({{food.weight}}g)</span>
                        <span class="float-right">{{food.price}}$</span>
                    </nav>

                    <div :id="'collapse'+index" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {{food.content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:'MenuDisplay',
    data(){
        return{
            Menu:{},
            foods:[],
            canvasWidth: 0
        }
    },
    methods:{
        getMenu: async function(){
            await this.$Axios.get('/wapi/menus/' + this.$route.params.menuId + '/display')
            .then(response => {
                this.Menu = response.data.data.menu;
                this.foods = response.data.data.foods;
            });
        },
        makeQR:function(){
                var QrCreator = require('qr-creator').default;
                
                this.canvasWidth = 128;

                let props = this.$router.resolve({ 
                    name: 'MenuDisplay', 
                    params: { menuId: this.$route.params.menuId },
                });

                QrCreator.render({
                    text: this.$Axios.baseURL + props.href,
                    radius: 0.0, // 0.0 to 0.5
                    ecLevel: 'H', // L, M, Q, H
                    fill: '#000000', // foreground color
                    background: null, // color or null for transparent
                    size: 128 // in pixels
                }, document.querySelector('#qr-code'));
        }
    },
    mounted(){
        this.getMenu();
    }
}
</script>

<style scoped>

</style>