<template>
    <div class="container-fluid">
        <div class="row justify-content-center mt-4 mb-2">
            <div class="col">
                <p class="h2">New Menu</p>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col">
                    <div class="form-group">
                        <label for="MenuNameInput">Menu Name</label>
                        <input v-model="menu.name" type="text" class="form-control" id="MenuNameInput" placeholder="Enter Menu Name">
                    </div>
                    <div class="form-group">
                        <label for="MenuStartHrInput">Menu Start Hour</label>
                        <input v-model="menu.start_hour" type="time" class="form-control" id="MenuStartHrInput" placeholder="Enter Menu Start Hour">
                    </div>
                    <div class="form-group">
                        <label for="MenuEndHrInput">Menu End Hour</label>
                        <input v-model="menu.end_hour" type="time" class="form-control" id="MenuEndHrInput" placeholder="Enter Menu End Hour">
                    </div>
                    <button class="btn btn-danger" v-on:click="Cancel">Cancel</button>
                    <button class="btn btn-primary" v-on:click="putMenu">Submit</button>
                    <button class="btn btn-danger" v-on:click="deleteMenu">Delete</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name:'MenuEdit',
        mounted() {
            this.getMenu();
        },
        data(){
            return{
                menu:{
                    name:null,
                    start_hour: null,
                    end_hour: null
                }
            }
        },
        methods:{
            getMenu: async function(){
                await this.$Axios.get('/wapi/menus/'+ this.$route.params.menuId +'/edit')
                .then(response => {this.menu = response.data.data});
            },
            putMenu: function(){
                this.$Axios.put('/wapi/menus/'+this.$route.params.menuId ,this.menu)
                .then(response => {console.log("response");});
            },
            deleteMenu: function(){
                this.$Axios.delete('/wapi/menus/'+ this.$route.params.menuId)
                .then(response => {console.log("response");});
            },
            Cancel: function(){
                window.history.back();
            }
        }
    }
</script>
