<template>
    <div class="container-fluid">
        <div class="row justify-content-center mt-4 mb-2">
            <div class="col">
                <p class="h2">New Restaurant</p>
            </div>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-for="(error,index) in dangerAlerts" :key="index">
            <strong>{{error[0]}}</strong> <p v-for="(message,index) in error[1]" :key="index">{{message}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="succesAlert">
            <strong>Se registro exitosamente</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row justify-content-start">
            <div class="col">
                    <div class="form-group">
                        <label for="EstaNameInput">Establishment Name</label>
                        <input v-model="restaurant.name" type="text" class="form-control" id="EstaNameInput" placeholder="Enter Establishment Name">
                    </div>
                    <div class="form-group">
                        <label for="EstaTelInput">Establishment Telephone</label>
                        <input v-model="restaurant.telephone" type="number" class="form-control" id="EstaTelInput" placeholder="Enter Establishment Telephone">
                    </div>
                    <div class="form-group">
                        <label for="EstaContactInput">Establishment Contact Name</label>
                        <input v-model="restaurant.restaurant_contact" type="text" class="form-control" id="EstaContactInput" placeholder="Enter Establishment Contact Name">
                    </div>
                    <div class="form-group">
                        <label for="EstaPostalCodeInput">Postal Code</label>
                        <input v-model="restaurant.cp" type="text" class="form-control" id="EstaPostalCodeInput" placeholder="Enter Establishment Postal Code">
                    </div>
                    <div class="form-group">
                        <label for="EstaStateInput">State</label>
                        <input v-model="restaurant.estado" type="text" class="form-control" id="EstaStateInput" placeholder="Enter Establishment State">
                    </div>
                    <div class="form-group">
                        <label for="EstaTownInput">Town</label>
                        <input v-model="restaurant.municipio" type="text" class="form-control" id="EstaTownInput" placeholder="Enter Establishment Town">
                    </div>
                    <div class="form-group">
                        <label for="EstaSuburbInput">Suburb</label>
                        <input v-model="restaurant.colonia" type="text" class="form-control" id="EstaSuburbInput" placeholder="Enter Establishment Suburb">
                    </div>
                    <div class="form-group">
                        <label for="EstaStreetInput">Street</label>
                        <input v-model="restaurant.calle" type="text" class="form-control" id="EstaStreetInput" placeholder="Enter Establishment Street">
                    </div>
                    <button class="btn btn-danger" v-on:click="Cancel">Cancel</button>
                    <button class="btn btn-primary" v-on:click="postRestaurants">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data(){
            return{
                restaurant:{
                    name:null,
                    telephone: null,
                    restaurant_contact:null,
                    cp: null,
                    estado:null,
                    municipio:null,
                    colonia:null,
                    calle:null
                },
                dangerAlerts:[],
                succesAlert:false
            }
        },
        methods:{
            postRestaurants: function(){
                this.$Axios.post('/wapi/restaurants',this.restaurant)
                .catch(error => {
                    if(error.response.status !=  200){
                        this.dangerAlerts = Object.entries(error.response.data.errors);
                    }
                }).then(response=>{
                    if(response){
                        if ( response.status == 200)
                            this.succesAlert = true;
                    }
                });
            },
            Cancel: function(){
                window.history.back();
            },
            deleteAlert:function(alertKey){
                    this.dangerAlerts = this.dangerAlerts.filter(function(value, index, arr){ return value != alertKey;});
            }
        }
    }
</script>
