<template>
    <div class="container-fluid">
        <div class="row justify-content-center mt-4 mb-2">
            <div class="col">
                <p class="h2">New Restaurant</p>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col">
                    <div class="form-group">
                        <label for="EstaNameInput">Establishment Name</label>
                        <input v-model="restaurant.name" type="text" class="form-control" id="EstaNameInput" placeholder="Enter Establishment Name">
                    </div>
                    <div class="form-group">
                        <label for="EstaTelInput">Establishment Telephone</label>
                        <input v-model="restaurant.telephone" type="number" class="form-control" id="EstaTelInput" placeholder="Enter Establishment Telephone">
                    </div>
                    <div class="form-group">
                        <label for="EstaContactInput">Establishment Contact Name</label>
                        <input v-model="restaurant.restaurant_contact" type="text" class="form-control" id="EstaContactInput" placeholder="Enter Establishment Contact Name">
                    </div>
                    <div class="form-group">
                        <label for="EstaPostalCodeInput">Postal Code</label>
                        <input v-model="restaurant.cp" type="text" class="form-control" id="EstaPostalCodeInput" placeholder="Enter Establishment Postal Code">
                    </div>
                    <div class="form-group">
                        <label for="EstaStateInput">State</label>
                        <input v-model="restaurant.estado" type="text" class="form-control" id="EstaStateInput" placeholder="Enter Establishment State">
                    </div>
                    <div class="form-group">
                        <label for="EstaTownInput">Town</label>
                        <input v-model="restaurant.municipio" type="text" class="form-control" id="EstaTownInput" placeholder="Enter Establishment Town">
                    </div>
                    <div class="form-group">
                        <label for="EstaSuburbInput">Suburb</label>
                        <input v-model="restaurant.colonia" type="text" class="form-control" id="EstaSuburbInput" placeholder="Enter Establishment Suburb">
                    </div>
                    <div class="form-group">
                        <label for="EstaStreetInput">Street</label>
                        <input v-model="restaurant.calle" type="text" class="form-control" id="EstaStreetInput" placeholder="Enter Establishment Street">
                    </div>
                    <button class="btn btn-secondary" v-on:click="Cancel">Cancel</button>
                    <button class="btn btn-primary" v-on:click="postRestaurants">Submit</button>
                    <button class="btn btn-danger" v-on:click="deleteRestaurants">Delete</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data(){
            return{
                restaurant:{
                    name:null,
                    telephone:null,
                    restaurant_contact: null,
                    cp: null,
                    estado:null,
                    municipio:null,
                    colonia:null,
                    calle:null
                }
            }
        },
        methods:{
            getRestaurants: async function(){
                await this.$Axios.get('/wapi/restaurants/'+ this.$route.params.resId +'/edit')
                .then(response => {this.restaurant = response.data.data});
            },
            postRestaurants: function(){
                this.$Axios.put('/wapi/restaurants/'+ this.$route.params.resId,this.restaurant)
                .then(response => {console.log("response");});
            },
            deleteRestaurants: function(){
                this.$Axios.delete('/wapi/restaurants/'+ this.$route.params.resId)
                .then(response => {console.log("response");});
            },
            Cancel: function(){
                window.history.back();
            }
        },
        mounted(){
            this.getRestaurants();
        },
    }
</script>
