<template>
    <div class="container-fluid">
        <div class="row justify-content-center mt-4 mb-2">
            <div class="col">
                <p class="h2">Restaurants</p>
            </div>
        </div>
        <div class="row col justify-content-start">
            <div class="card-deck">
                <div v-for="(restaurant,index) in restaurant" :key="index">
                        <CardComponent :id="index" 
                        :nameprop="restaurant.name" 
                        :showprop="{ name: 'RestaurantsShow', params: { resId: restaurant.id }}"
                        :editprop="{ name: 'RestaurantsEdit', params: { resId: restaurant.id }}" 
                        titles="restaurant"
                        ></CardComponent>
                </div>
                <div class="card card-header border border-dark" style="width: 18rem; height:18rem;">
                    <router-link :to="{ name: 'RestaurantsCreate'}">
                        <p class="text-center" style="margin-top:50%;">Añadir</p>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CardComponent from '../../components/CardComponent.vue'

    export default {
        name:'Restaurants',
        data(){
            return{
                restaurant:[]
            }
        },
        methods:{
            getRestaurants: function(){
                this.$Axios.get('/wapi/user/restaurants')
                .then(response => {this.restaurant = response.data.data});
            },
            str: function(id){
                return "./" + String(id) + "/";
            }
        },
        created(){
            this.getRestaurants();
        },
        components: {
            CardComponent
        }
    }
</script>
