<template>
    <div class="d-flex toggled" id="wrapper">
        <SideBarComponent></SideBarComponent>
        <div class="container-fluid mr-2" id="page-content-wrapper">
            <nav class="btn btn-dark rounded-circle mt-2" style="margin-left:-36px;" id="menu-toggle" v-on:click="sidebarClick">
                <font-awesome-icon :icon="bars" size="2x"/>
            </nav>
            <router-view class="container-fluid m-4"></router-view>
        </div>
    </div>
</template>

<script>
    import { faBars } from '@fortawesome/free-solid-svg-icons'

    import SideBarComponent from '../../components/SideBarComponent.vue'

    export default {
        name:'RestaurantShow',
        data(){
            return{
                bars:faBars
            }
        },
        methods:{
            sidebarClick: function(){
                $("#wrapper").toggleClass("toggled");
            }
        },
        components: {
            SideBarComponent
        }
    }
</script>

<style scoped>
    #wrapper {
        overflow-x: hidden;
    }

    #page-content-wrapper {
    min-width: 100vw;
    }

    #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
    }

    @media (min-width: 768px) {
        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: -15rem;
        }
    }
</style>