<template>
    <div class="card border border-dark" 
        style="width: 18rem; height:18rem;">
        <router-link :to="showprop" class="card-body aling-component-center">
            <p class="h2 text-center">{{nameprop}}</p>
        </router-link>
        <div class="card-footer">
            <router-link v-if="editprop" :to="editprop">
                <p>Edit {{titles}}</p>
            </router-link>
            <router-link v-if="displayprop" :to="displayprop">
                <p>Display {{titles}}</p>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name:'CardComponent',
        props: {
            nameprop: String,
            showprop: {},
            editprop: {},
            titles: String,
            displayprop:{}
        }
    }
</script>
