<template>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <nav class="nav-item" v-bind:class="{'active': isA}" v-on:click="changeActive(0)" data-toggle="collapse" data-target="#navbarNav">
          <router-link to="/home/" class="nav-link" >
              Home 
              <span class="sr-only" v-if="isA">(current)</span>
          </router-link>
        </nav>
        <nav class="nav-item" v-bind:class="{'active': isB}" v-on:click="changeActive(1)" data-toggle="collapse" data-target="#navbarNav">
          <router-link to="/restaurants/" class="nav-link" >
              Restaurants 
              <span class="sr-only" v-if="isB">(current)</span>
          </router-link>
        </nav>
        <li class="nav-item">
          <a class="nav-link"  v-on:click="logout" href="/login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
    export default {
      name:'Header',
      data(){
        return {
          isA:false,
          isB:false,
        }
      },
      methods:{
        changeActive:function(number){
          this.isA=false;
          this.isB=false;
          switch (number) {
            case 0:
                this.isA = true;
              break;
            case 1:
                this.isB = true;
              break;
          
            default:
                this.isA=false;
                this.isB=false;
              break;
          }
        },
        logout:function(){
          this.$Axios.post('/wapi/logout');
        }
      }
    }
</script>