<template>
    <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-white">Start Bootstrap </div>
      <div class="list-group list-group-flush">
        <router-link 
            :to="{ name: 'RestaurantsShow',params: { resId: this.$route.params.resId}}" 
            class="list-group-item list-group-item-action bg-dark text-white">
                Dashboard
        </router-link>
        <router-link 
            :to="{ name: 'Menus',params: { resId: this.$route.params.resId}}" 
            class="list-group-item list-group-item-action bg-dark text-white">
            Menus
        </router-link>
        <router-link
            :to="{name: 'Foods', params:{resId: this.$route.params.resId}}"
            class="list-group-item list-group-item-action bg-dark text-white">
            Foods
        </router-link>
        <router-link
            :to="{name: 'Orders', params:{resId: this.$route.params.resId}}"
            class="list-group-item list-group-item-action bg-dark text-white">
            Orders
        </router-link>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Status</a>
      </div>
    </div>
</template>

<script>
export default {
    name:'SideBarComponent',
}
</script>

<style scoped>

    #sidebar-wrapper {
        min-height: 100vh;
        margin-left: -15rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

    @media (min-width: 768px) {
        #sidebar-wrapper {
            margin-left: 0;
        }
    }
</style>