<template>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" v-for="(element,index) in thprop" :key="index">{{element}}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody >
            <tr v-for="(element,index) in tbodyprop" :key="index">
                <td  v-for="(value, key) in element" :key="key">
                    {{value}}
                </td>
                <td>
                    <span v-html="htmlprop" ></span>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    name:'TableComponent',
    props: {
        thprop: Array,
        tbodyprop: Array,
        htmlprop: String
    }
}
</script>