<template>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Sitioweb</td>
                    <td>telefono</td>
                    <td>ciudad</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(usuarios,index) in usuarios" :key="index">
                    <th>{{usuarios.name}}</th>
                    <th>{{usuarios.website}}</th>
                    <th>{{usuarios.phone}}</th>
                    <th>{{usuarios.address.city}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

export default {
    name:'ConsumirApi',
    data(){
        return{
            usuarios:[]
        }
    },
    methods:{
        getUsers: function(){
            this.$Axios.get('https://jsonplaceholder.typicode.com/users')
            .then(response => {this.usuarios =response.data})
        }
    },
    created(){
        this.getUsers();
    }
}
</script>