<template>
<div class="page-header header-filter container-fluid row"  :style="{'background-image':'url(/material-kit/img/bg7.jpeg)',
                                                            'background-size': 'cover', 
                                                            'background-position': 'top center'}">
    <div class="col-3" :style="{'display':'block'}">
        <div class="alert alert-danger alert-dismissible fade show" :role="'alert'+index" v-for="(error,index) in dangerAlerts" :key="index">
            <strong>{{error[0]}}</strong> <p v-for="(message,index) in error[1]" :key="index">{{message}}</p>
            <button type="button" class="close" :data-dismiss="'alert'+index" aria-label="Close"  v-on:click="quitAlert(error)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="login-reg-panel col">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
							
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<label id="label-login" for="log-login-show">Register</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
							
		<div class="white-panel">
			<div class="login-show">
				<h2>LOGIN</h2>
				<input type="text" v-model="loginValues.email" placeholder="Email">
				<input type="password" v-model="loginValues.password" placeholder="Password">
				<input type="button" v-on:click="postLogin" value="Login">
			</div>
			<div class="register-show">
				<h2>REGISTER</h2>
                <input type="text" v-model="registerValues.name" placeholder="Name">
				<input type="text" v-model="registerValues.email" placeholder="Email">
				<input type="password" v-model="registerValues.password" placeholder="Password">
				<input type="password" v-model="registerValues.password_confirmation" placeholder="Confirm Password">
                 <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="2" v-model="registerValues.role">
                    <label class="form-check-label" for="inlineRadio1">Dueño</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="3" v-model="registerValues.role">
                    <label class="form-check-label" for="inlineRadio2">Cliente</label>
                </div>
				<input type="button" v-on:click="postRegister" value="Register">
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
    name:'Login',
    data(){
        return{
            loginValues:{
                email:null,
                password:null
            },
            registerValues:{
                name:null,
                email:null,
                password:null,
                password_confirmation:null,
                role:null
            },
            dangerAlerts:[],
        }
    },
    methods:{
        postLogin:function(){
            this.$Axios.post('/wapi/login',this.loginValues)
            .then((result) => {
                if(result){
                    if ( result.status == 200){
                        location.reload();
                        this.$store.commit('setAuthUser',result.data.user);
                        this.$store.commit('setRolesUser',result.data.roles);
                        if(result.data.roles.includes('client')){
                            this.$router.push({ name: 'Client' });
                        }else{
                            this.$router.push({ name: 'Home' });
                        }
                    }
                }
            }).catch((err) => {
                if(err.response.status !=  200){
                    if (err.response.data.errors){
                        this.dangerAlerts = Object.entries(err.response.data.errors);
                    }else{
                        this.dangerAlerts = [['email',['These credentials do not match our records.']]];
                    }
                }
            });
        },
        postRegister:function(){
            this.$Axios.post('/wapi/register',this.registerValues)
            .then((result) => {
                if(result){
                    if ( result.status == 200){
                        location.reload();
                        this.$store.commit('setAuthUser',result.data.user);
                        this.$store.commit('setRolesUser',result.data.roles);
                        if(result.data.roles.includes('client')){
                            this.$router.push({ name: 'Client' });
                        }else{
                            this.$router.push({ name: 'Home' });
                        }
                    }
                }
            }).catch((err) => {
                if(err.response.status !=  200){
                    this.dangerAlerts = Object.entries(err.response.data.errors);
                }
            });
        },
        quitAlert: function(alert){
            this.dangerAlerts = this.dangerAlerts.filter(function(value, index, arr){ return value != alert;});
        },
    },
    beforeCreated(){
        if(this.$store.getters.isLoggedIn){
            this.$router.push({ name: 'Home' });
        }
    },
    mounted(){
        $('.login-info-box').fadeOut();
        $('.login-show').addClass('show-log-panel');

        $('.login-reg-panel input[type="radio"]').on('change', function() {
            if($('#log-login-show').is(':checked')) {
                $('.register-info-box').fadeOut(); 
                $('.login-info-box').fadeIn();
                
                $('.white-panel').addClass('right-log');
                $('.register-show').addClass('show-log-panel');
                $('.login-show').removeClass('show-log-panel');
                
            }
            else if($('#log-reg-show').is(':checked')) {
                $('.register-info-box').fadeIn();
                $('.login-info-box').fadeOut();
                
                $('.white-panel').removeClass('right-log');
                
                $('.login-show').addClass('show-log-panel');
                $('.register-show').removeClass('show-log-panel');
            }
        });
    }
}
</script>

<style >
    @import url('https://fonts.googleapis.com/css?family=Mukta');
.page-header {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.header-filter {
    position: relative;
}
    
a{
  text-decoration:none;
  color:#444444;
}
.login-reg-panel{
    position: relative;
	text-align:center;
    width:66%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: rgba(0, 0, 0, 0.9);
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}

.form-check-input {
    display: flex !important;
}

.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
    
}
.right-log{right:50px !important;}

.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}

.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
a{
  text-decoration:none;
  color:#2c7715;
}
</style>