<template>
    <div>
        <div class="row justify-content-center mt-4 mb-2">
                <div class="col">
                    <p class="h2">Foods</p>
                </div>
            </div>
            <div class="row col justify-content-start">
                <div class="card-deck">
                    <div v-for="(Food,index) in Foods" :key="index">
                            <CardComponent 
                                :id="index" 
                                :nameprop="Food.name" 
                                :showprop="{ name: 'FoodsShow', params: { FoodId: Food.id }}"
                                :editprop="{ name: 'FoodsEdit', params: { FoodId: Food.id }}"  
                                titles="Food">
                            </CardComponent>
                    </div>
                    <div>
                        <div class="card border border-dark" style="width: 18rem; height:18rem;">
                            <div class="card-body aling-component-center">
                                <router-link :to="{ name: 'FoodsCreate',params: { resId }}">
                                    <p class="text-center" style="margin-top:50%;">Añadir</p>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
import CardComponent from '../../components/CardComponent.vue'

export default {
    name:'FoodsIndex',
    data(){
        return{
            Foods:[],
            resId: this.$route.params.resId
        }
    },
    methods:{
        getFoods: function(){
            this.$Axios.get('http://127.0.0.1:8000/wapi/restaurants/'+ this.$route.params.resId +'/foods')
            .then(response => {this.Foods = response.data.data});
        },
        str: function(id){
            return "./" + String(id) + "/";
        }
    },
    created(){
        this.getFoods();
    },
    components:{
        CardComponent
    }
}
</script>