<template>
    <div class="container-fluid">
        <div class="row justify-content-center mt-4 mb-2">
            <div class="col">
                <p class="h2">Edit Food</p>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col">
                    <div class="form-group">
                        <label for="FoodNameInput">Food Name</label>
                        <input v-model="Food.name" type="text" class="form-control" id="FoodNameInput" placeholder="Enter Food Name">
                    </div>
                    <div class="form-group">
                        <label for="FoodTypeInput">Food Type</label>
                        <input v-model="Food.type" type="text" class="form-control" id="FoodTypeInput" placeholder="Enter Food Type">
                    </div>
                    <div class="form-group">
                        <label for="FoodContentInput">Food Content</label>
                        <input v-model="Food.content" type="text" class="form-control" id="FoodContentInput" placeholder="Enter Food Content">
                    </div>
                    <div class="form-group">
                        <label for="FoodWeghtInput">Food Weight</label>
                        <input v-model="Food.weight" type="number" class="form-control" id="FoodWeghtInput" placeholder="Enter Food Weight">
                    </div>
                    <div class="form-group">
                        <label for="FoodPriceInput">Food Price</label>
                        <input v-model="Food.price" type="number" step=0.01 class="form-control" id="FoodPriceInput" placeholder="Enter Food Price">
                    </div>
                    <button class="btn btn-danger" v-on:click="Cancel">Cancel</button>
                    <button class="btn btn-primary" v-on:click="putFood">Submit</button>
                    <button class="btn btn-dark" v-on:click="deleteFood">Delete</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:'FoodEdit',
    mounted() {
        this.getFood();
            console.log('Component mounted.')
        },
        data(){
            return{
                Food:{
                    name:null,
                    type:null,
                    weight: null,
                    price: null,
                    content:null,
                    restaurants_id: this.$route.params.resId,
                    alerts:[]
                }
            }
        },
        methods:{
            getFood: async function(){
                await this.$Axios.get('/wapi/foods/'+ this.$route.params.FoodId)
                .then(response => {this.Food = response.data.data});
            },
            putFood: function(){
                this.$Axios.put('/wapi/foods/' + this.$route.params.FoodId,this.Food)
                .then(response => {console.log("response");});
            },
            deleteFood: function(){
                this.$Axios.delete('/wapi/foods/' + this.$route.params.FoodId)
                .then(response => {console.log('response');});
            },
            Cancel: function(){
                window.history.back();
            }
        }
}
</script>