<template>
    <div class="container-fluid">
        <div class="row justify-content-center mt-4 mb-2">
            <div class="col">
                <p class="h2">New Order</p>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col">
                    <div class="form-group">
                        <label for="OrderNameInput">Order Name</label>
                        <input v-model="Order.name" type="text" class="form-control" id="OrderNameInput" placeholder="Enter Order Name">
                    </div>
                    <button class="btn btn-danger" v-on:click="Cancel">Cancel</button>
                    <button class="btn btn-primary" v-on:click="postOrder">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:'OrdersCreate',
    data(){
        return {
            Order:{
                name:null,
                restaurant_id:this.$route.params.resId
            }
        }
    },
    methods:{
        postOrder: function(){
            this.$Axios.post('/wapi/orders',this.Order)
            .then(response => {console.log("response");});
        },
        Cancel: function(){
            window.history.back();
        }
    }
}
</script>