<template>
    <div class="container-fluid">
        <!-- Modal -->
        <div class="modal fade" id="ModalFoods" tabindex="-1" role="dialog" aria-labelledby="FoodsModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-group">
                    <label for="SelectFood">Choose a Food:</label>
                    <select 
                        id="SelectFood" 
                        name="SelectFood"
                        class="form-control"
                        v-model="select.food" >
                        <option v-for="(Food,index) in Foods" :key="index" :value="Food"> {{Food.name}} | {{Food.weight}} | {{Food.price}}</option>
                    </select>
                    <label for="QuantityInput">Input Food Quantity</label>
                    <input id="QuantityInput" name="QuantityInput" class="form-control" type="number" v-model="select.pivot.food_quantity">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="pushFood">Save changes</button>
                </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4 mb-2">
                <div class="col">
                    <p class="h2">Foods</p>
                </div>
        </div>
        <div class="row mt-4 mb-2">
            <div class="col"> <p class="h3">{{this.Order.name}}</p></div>
            <div class="justify-content-end">
                <button class="btn btn-primary" v-if="!Order.payed" v-on:click="attachFood(true)" >Pagar</button>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">Precio Total: {{price}}</div>
            <div class="justify-content-end">
                <button type="button" class="btn btn-light border border-dark" data-toggle="modal" data-target="#ModalFoods" v-on:click="cleanFood">Agregar</button>
            </div>
        </div>
        <div class="row justify-content-center mt-4 mb-2">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" v-for="(element,index) in getKeys(Foods)" :key="index" v-if="element != 'pivot'">{{element}}</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody >
                    <tr v-for="(food,index) in Foods_Order" :key="index">
                        <td  v-for="(value,key) in food" :key="key"  v-if="key != 'pivot'">
                            {{value}}
                        </td>
                        <td>
                            {{food.pivot.food_quantity}}
                        </td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" v-on:click="editFood(food)" data-target="#ModalFoods" >edit</button>
                            <button class="btn btn-danger" v-on:click="quitFood(food)">quit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-end mt-4 mb-2">
            <button class="btn btn-secondary" v-on:click="attachFood(Order.payed)" >Aceptar cambios</button>
        </div>
    </div>
</template>

<script>
export default {
    name:'OrdersShow',
        data(){
        return {
            Order:{
                name:null,
                total_price:null,
                payed:null
            },
            Foods:[],
            Foods_Order:[],
            select:{
                food:null,
                pivot:{food_quantity:null}
            }
        }
    },
    methods:{
        getFoods: async function(){
            await this.$Axios.get('/wapi/restaurants/'+ this.$route.params.resId +'/foods')
                .then(response => {this.Foods = response.data.data});
        },
        getOrder: async function(){
            await this.$Axios.get('/wapi/orders/'+ this.$route.params.OrderId +'/edit')
                .then(response => {this.Order = response.data.data});
        },
        getFoods_Order: async function(){
            await this.$Axios.get('/wapi/orders/'+ this.$route.params.OrderId +'/foods')
                .then(response => {this.Foods_Order = response.data.data});
        },
        pushFood: function(){
            for (let index = 0; index < this.Foods_Order.length; index++) {
                if(this.Foods_Order[index]['id'] == this.select.food['id']){
                    const quantity = this.select.pivot.food_quantity.toString();
                    this.Foods_Order[index].pivot.food_quantity = parseInt(quantity,10);
                    return;
                }
            }
            this.select.food.pivot = this.select.pivot;
            this.Foods_Order.push(this.select.food);
        },
        editFood: function(food){
            this.Foods.forEach(element => {
                if(element.id == food.id){
                    console.log(food);
                    this.select.food = element;
                }
            });
            const quantity = food.pivot.food_quantity;
            this.select.pivot.food_quantity = quantity;
        },
        quitFood: function(element){
            this.Foods_Order = this.Foods_Order.filter(function(value, index, arr){ return value != element;});
        },
        attachFood:function(payed){
            var arrid = [];
            var arrquantity = [];
            this.Foods_Order.forEach(element => {
                arrid.push(element.id);
                arrquantity.push(element.pivot.food_quantity);
            });
            this.$Axios.post('/wapi/orders/' + this.$route.params.OrderId + '/attach',
                {
                    Order_id:this.Order.id,
                    foods:arrid,
                    quantitys:arrquantity,
                    total_price:this.Order.total_price,
                    payed
                }, { timeout: 2000 })
                .then(response => {console.log('response');});
        },
        cleanFood:function(){
            this.select = {
                food:null,
                pivot:{food_quantity:null}
            }
        },
        getKeys:function(Foods){
            if(Foods.length > 0){
                return Object.keys(Foods[0]);
            }
        }
    },
    computed: {
        price:function(){
            let mount = 0;
            this.Foods_Order.forEach(food => {
                mount += food.price * food.pivot.food_quantity;
            });
            this.Order.total_price = mount;
            return this.Order.total_price;
        }
    },
    mounted(){
        this.getFoods();
        this.getOrder();
        this.getFoods_Order();
    }
}

</script>