<template>
    <div>
        <div class="modal fade" id="ModalOrders" tabindex="-1" role="dialog" aria-labelledby="OrdersModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="SelectFood">New Order name</label>
                    <input v-model="Order.name" type="text" class="form-control" id="OrderNameInput" placeholder="Enter Order Name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="postOrder">Save changes</button>
                </div>
                </div>
            </div>
        </div>

        <nav class="nav nav-pills nav-fill">
            <a class="nav-item nav-link" v-bind:class="{'active': !isActive}" v-on:click="changeActive(false)" href="#">Payed Ordes</a>
            <a class="nav-item nav-link" v-bind:class="{'active': isActive}" v-on:click="changeActive(true)" href="#">Active Orders</a>
        </nav>
        <div class="container-fluid row justify-content-end mt-2 mb-2" v-if="isActive">
                <button type="button" class="btn btn-light border border-dark" data-toggle="modal" data-target="#ModalOrders">Create Order</button>
            </div>
        <div class="justify-content-center mt-2 mb-2">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" v-for="(element,index) in getKeys(Orders)" :key="index">{{element}}</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody >
                    <tr v-for="(element,index) in Orders" :key="index">
                        <td  v-for="(value, key) in element" :key="key">
                            {{value}}
                        </td>
                        <td>
                            <router-link :to="{name:'OrdersShow', params:{OrderId:element.id}}" class="btn btn-light border-dark">View</router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</template>

<script>
export default {
    name:'OrdersIndex',
    data(){
        return {
            resId: this.$route.params.resId,
            isActive:false,
            Orders:[],
            Order:{
                name:null,
                restaurants_id:this.$route.params.resId
            }
        }
    },
     methods:{
        changeActive:function(boolValue){
            this.Orders = [];
            this.isActive = boolValue;
            this.getOrders();
        },
        getOrders: async function(){
            await this.$Axios.get('/wapi/restaurants/'+ this.$route.params.resId +'/orders')
                .then(response => {
                    if(response.status == 200)
                        this.Orders = response.data.data.filter(order => order.payed != this.isActive);
                });
        },
        getKeys:function(Orders){
            if(Orders.length > 0){
                return Object.keys(Orders[0]);
            }
        },
        postOrder: async function(){
            await this.$Axios.post('/wapi/orders',this.Order)
            .then(response => {
                if(response.status == 200){
                    this.getOrders();
                }
            });
        }
    },
    created(){
        this.changeActive(true);
    }
}
</script>

<style scoped>
    a.active{
        background-color: black !important;
    }
</style>